<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/card.css" rel="stylesheet" />
    <link href="~/css/Navbar.css" rel="stylesheet" />
    <link href="~/css/Footer.css" rel="stylesheet" />



    <title>Bookx</title>

</head>

<body>

  <nav>
      
      <label class="logo"> Book<span>X</span></label>

      <ul>

          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a asp-controller="User" asp-action="Login">Sign in</a></li>
          <li><a asp-controller="User" asp-action="Register">Sign up</a></li>






      </ul>


  </nav>


        @RenderBody()



</body>
</html>
