@using WebApplication5_core.Models
@model Registeration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


    <link href="~/css/Register.css" rel="stylesheet" />
    <title></title>
</head>
<body>




    <section class="containerr">

        <div class="head">Sign up</div>
        <h3 id="o" style="color:red">This Email already registered</h3>
        <h3 id="a" style="color:red;">The password doesnt match</h3>


        <form method="post" asp-controller="User" asp-action="Register">

            <div class="card-details">

                <div class="cardbox">
                    <label class="labell"> Firstname</label>
                    <input placeholder="Enter Your First Name" required asp-for="Firstname" onchange="hide();" />
                </div>

                <div class="cardbox">
                    <label class="labell">Lastname</label>
                    <input placeholder="Enter Your Last Name" required asp-for="Lastname" onchange="hide();" />
                </div>
                <div class="cardbox">
                    <label class="labell">Email</label>
                    <input placeholder="Enter Your Email" required name="Email" type="email" onchange="hide();" />
                </div>

                <div class="cardbox">
                    <label class="labell">Phone Number</label>
                    <input placeholder="Enter Your Phone Number" required asp-for="Phonenumber" onchange="hide();" />
                </div>

                <div class="cardbox">
                    <label class="labell">Password</label>
                    <input placeholder="Enter Your Password" required asp-for="Password" type="password" onchange="checkpassword(); hide();" />
                </div>

                <div class="cardbox">
                    <label class="labell">Confirm Your Password</label>
                    <input placeholder="Confirm Your Password" required asp-for="Password" type="password"  id="confirm" name="lol" onchange="checkpassword(); hide();" />
                </div>








            </div>

            <div class="buttonn">

                <input type="submit" value="Register" id="button" />


            </div>



        </form>


    </section>


    <script>


        document.getElementById("a").style.display = "none";

        function checkpassword() {

            if (document.getElementById("Password").value === "" || document.getElementById("confirm").value === "")
                return;


            if (document.getElementById("Password").value === document.getElementById("confirm").value) {
                document.getElementById("a").style.display = "none";

                let a = document.getElementById("button");
                a.disabled = false;
            }
            else {
                document.getElementById("button").disabled = true;
                document.getElementById("a").style.display = "block";

            }



        }

        function hide() {
        
            document.getElementById("o").style.display = "none";

        }

    </script>

</body>
</html>